@import url(./reset.css);
@import url(./variables.css);
@import url(./font.css);

* {
  box-sizing: border-box;
}

body {
  font-family: var(--en-font) , var(--fa-font);
  color: var(--primary-text);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}