.navbar {
  width: 84px;
  max-width: 84px;
  background-color: var(--secondary-main);
  border-radius: 5px;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-list-item {
  width: 100%;
  position: relative;

}

.navbar-list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 18px 0;
  color: var(--primary-text);
  font-size: 14px;
  font-weight: 700;
  text-transform:capitalize;
  white-space: nowrap;
  transition: color .3s;
}

.navbar-list-link:hover{
  color: var(--primary-main);
}


/* border */
.navbar-list-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(ellipse at right, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}

.navbar-list-item:last-child::after {
  content: none;
}


