.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--page-dark);
}

.main-container {
  max-width: 1440px;
  max-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 25px;
  overflow: hidden;
}

.page-container {
  flex: 2;
  height: 100%;
  background-color: var(--secondary-main);
  border-radius: 5px;
  padding: 25px;
  overflow-y:auto ;
}