body {
  background-color: var(--page-dark);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main-container {
  max-width: 1440px;
  max-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 25px;
  overflow: hidden;
}

.page-container {
  flex: 1;
  height: 100%;
  background-color: var(--secondary-main);
  border-radius: 5px;
  padding: 25px;
  overflow-y:auto ;
}

/* background */
.parallelogram {
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  transform: skew(-40deg);
  position: absolute;
  z-index: -9;
}

#one {
  width: 20px;
  height: 300px;
  animation: moveBar 15s linear infinite;
  -webkit-box-shadow: 100px 509px var(--primary-main), 20px 300px var(--primary-main), -120px 150px var(--primary-main);
  -moz-box-shadow: 100px 509px var(--primary-main), 20px 300px var(--primary-main), -120px 150px var(--primary-main);
  box-shadow: 100px 509px var(--primary-main), 20px 300px var(--primary-main), -120px 150px var(--primary-main);
}

#two {
  width: 10px;
  height: 300px;
  animation: moveBar 30s linear infinite;
  -webkit-box-shadow: 250px 450px var(--primary-main-dark), -50px 200px var(--primary-main-dark);
  -moz-box-shadow: 250px 450px var(--primary-main-dark), -50px 200px var(--primary-main-dark);
  box-shadow: 250px 450px var(--primary-main-dark), -50px 200px var(--primary-main-dark);
}

#three {
  width: 10px;
  height: 500px;
  animation: moveBar 20s linear infinite;
  -webkit-box-shadow: 70px 500px var(--primary-main-light), -100px 200px var(--primary-main-light);
  -moz-box-shadow: 70px 500px var(--primary-main-light), -100px 200px var(--primary-main-light);
  box-shadow: 70px 500px var(--primary-main-light), -100px 200px var(--primary-main-light);
}

@keyframes moveBar {
  100% {
    transform: skew(-40deg) translateY(-1000px);
  }
}


/* responsive */

@media screen and (max-width: 768px) {
 .main {
  height: 100%;
 } 

 .main-container {
  max-height: 1440px;
  flex-direction: column-reverse;
  /* justify-content: center; */
  /* align-items: flex-start; */
 }

 .page-container {
  flex: auto;
  width: 100%;
  height: calc(100vh - 50px);
 }
}