/* About section */

.about-section , .services-section {
  color: var(--secondary-text);
  padding: 20px 0;
}

.about-section h3 {
  color: var(--primary-text);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-section p {
  line-height: 1.5;
  letter-spacing: 2px;
}

.about-person {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px 40px;
  justify-content: start;
  margin-top: 30px;
}

.about-person h4 span {
  font-weight: 500;
  color: var(--primary-main);
  margin-right: 10px;
}


/* Services section */

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}